html {
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #eddfd9;
  margin: 0px;
  font-family: 'Poiret One', cursive, sans-serif;
	overflow-x: hidden;
}

.logo {
  display: flex;
  justify-content: center;
	margin-right: 25px;
}
.header-menu ul {
  margin: 0px;
}

.header-menu ul {
	margin: 10px;
	list-style: none;
	display: flex;
  padding-inline-start: 0px;
}
.header-menu ul li {
	padding: 10px 12px;
  
}
.header-menu ul li a {
  
	text-decoration: none;
  white-space: nowrap;
	color: black;
	position: relative;
  font-family: 'Poiret One', cursive, sans-serif;
}

@media (min-width: 601px) {
   header{
     margin: 0 auto;
   }
	.header-menu ul li {
	padding: 10px 20px;
  
}
  .header-menu ul li a:after {
    content: '';
    width: 0px;
    height: 3px; /* высота подчеркивания */ 
    background: black; /* цвет подчеркивания */
    position: absolute;

    top: 100%;
    left: 50%; transform: translateX(-50%);
    transition: .5s;
  }
  .header-menu ul .underline:after{
    content: '';
    width: 100%;
    height: 3px;
    background: black;
    position: absolute;
    top: 100%;
  }
}

.columns-photo {
  display: flex;
  padding: 30px;
}

.column {
  width: 33%;
  margin: 5px;
}

.column img {
  max-width: 100%
}

.column p {
  text-align: center;
    font-weight: bold;
}

fotter {
  width: 100%;
  background-color: white;
  padding-top: 20px;
}



.fotter {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;
}

.fotter a {
  text-decoration: none;
  white-space: nowrap;
	color: black;
  
}

.fotter-about {
  display:flex;
  flex-direction: column;
  
}
.fotter-about a {
  font-family: 'Poiret One', cursive, sans-serif;
}

.fotter-menu ul {
  margin: 0px;
}

.fotter-menu ul {
	list-style: none;
  padding-inline-start: 0px;
}
.fotter-menu ul li {
	padding: 10px 20px;
	margin-bottom: 10px;
}
.fotter-menu ul li a {
	position: relative;
}


.fotter-menu ul li a:hover {
  color: #8fbc8f;
}

.price, .about, .comments {
  display: flex;
  width: 70%;
  flex-direction: column;
  line-height: 1.6;
  font-size: 20px;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}

.about ul {
    list-style: none;
}

.hidden {
    display: none;
}


.allGallery {
  display: flex;
  padding: 30px;
}

.column-gallery {
  width: 33%;
  margin: 5px;
}

.column-gallery img {
  max-width: 100%
}

.gallery p {
  text-align: center;
}

@media (max-width: 600px) {
  .columns-photo, .allGallery {
    flex-direction: column;
  }
  .column{
    width: 99%;
  }
  .column-gallery {
  width: 83%;
  }
  .fotter {
  margin: 0 auto;
  flex-direction: column;
  width: 85%;
  }
  .fotter-menu ul li {
  margin-bottom: 10px;
  }
}
